html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;

}

h1 {
    font-size: 50px;
   color: white;

    
}

body {
    background-image: url(https://wallpapercave.com/wp/p4iaEa4.jpg);
    background-color: rgb(220, 228, 245);
    font-size: 110px;
    text-align: center;
    font-family: ;

}

p { 
    font-size: small
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    margin: 0 5%;


}

.move {
    background-color: white;
    border-radius: 10px;
    min-width: 30%;
    max-width: 100%;
    width: 100px;
    height: 520px;
    margin: 1%;
    border-style: solid;
}

img {
    width: 200px;

}