html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Aref Ruqaa Ink', serif;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;

}

body {
    background-image: url(https://wallpapercave.com/wp/p4iaEa4.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: 100px;
    padding-bottom: 50px;
}

p {
    font-size: 15px
}

h1:hover {
    padding-top: 21px;
    font-family: 'Lucida Handwriting', cursive;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5%;


}

.move {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    min-width: 30%;
    max-width: 100%;
    width: 100px;
    height: 520px;
    margin: 1%;
    box-shadow: 0px 0px 20px white;
    transition: all 0.4s;
    overflow-y: auto;
}

.move:hover {
    background-color: rgb(207, 212, 224);
}


img {
    width: 200px;
    transition: all 0.4s;
}

img:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 10px black;
}


h2:hover {
    text-decoration: underline;

}

#spinny {
    width: 100px;
    animation: spinny 4s linear infinite, LtoR 9s linear infinite;
    transition: all 4s;
    position: relative;
}

@keyframes spinny {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes LtoR {
    0% {
        left: 0%;
    }

    100% {
        left: calc(100% - 100px)
    }
}


a {
    color: aliceblue;
}

.bottom {
    font-size: 50%;
    transition: color 1s;
}

.bottom :hover {
    color: rgb(106, 239, 239);
}

@media screen and (max-width: 820px) {
    .box {
        flex-direction: column;
    }

    .move {
        width: 100%;
    }


    .bottom {
        text-align: center;
    }
}

@media screen and (max-width: 390px) {
    .box {
        flex-direction: column;
    }

    .move {
        width: 100%;
    }

    .bottom {
        text-align: center;
    }

    .spinny {
        width: 50px;
    }
}